@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  text-shadow: .5px .5px .5px #000;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
    transition: transform .200s ease-in-out;
}

input[type="text"]:focus::placeholder,
input[type="number"]:focus::placeholder,
input[type="date"]:focus::placeholder {
    transform: translateX(-150%);
}
